td{

    width: 25px;
    height: 25px;
    text-align: center;
    background-color: rgb(226, 226, 226);
    color: rgb(28, 32, 140);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.182);


}

table {
    float:left;
    margin-right: 20px;

    
}

body{
    background-color: rgb(249, 246, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
